:root {
  color-scheme: light dark;
  background-color: var(--seccondary-bg-color);

  --font-family-main: Arial, Helvetica, sans-serif;

  --font-size-s: 14px;
  --font-line-s: 16px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 14px;
  --font-line-m: 22px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 16px;
  --font-line-l: 22px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 30px;
  --font-line-xl: 26px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  /* --sidebar-width-collapsed: 80px; */
  --sidebar-height: calc(100vh - var(--navbar-height));

  /* z-index */
  --modale-z-index: 10;

  /* text colors */
  /* --primary-text-color: #161616; */
  --primary-color: #161616;
  --seccondary-color: #2e2e2e;

  --red-light: #ff0000;
  --red-dark: #940101;

  /* background colors */
  --primary-bg-color: #0379db;
  --seccondary-bg-color: #fff;
  --light-blue: #98c1e3;

  --border-color: #dddddd;
  --border-color-dark: #b6b6b6;

  /* content size */
  --pagination-height: 45px;
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --breadcrumbs-height: 37px;

  /* modal */
  --primary-color: #000;
  --overlay-color: rgba(0 0 0 / 60%);
  --bg-color: #f7f7f7;
  --modale-z-index: 10;

  /* skeleton */
  --skeleton-color: #499de2;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  /*  scroll color*/
  --scroll-color: #65a1d3;

  /* card*/
  --card-bg: #d1d1d1;

  /* select row item */
  --select-row-item-bg: #83bdff;

  /*  sidebar */
  --open-sidebar-width: 300px;
  --collapsed-sidebar-width: 15px;

  /* select row item */
  --select-row-item-bg: #83bdff;
}
