.coreSysParamsWidgets {
}
.filters {
  width: 100%;
}
.Divider {
  width: 100%;
  height: 1px;
  background: var(--border-color);
}
.margins {
  margin-left: 10px;
}
.marginsValues {
  margin-left: 10px;
  margin-top: 15px;
}
