.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  display: flex;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
.navigationLine {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bisnessSuite {
  font: var(--font-m);
  font-weight: bold;
  color: var(--seccondary-bg-color);
  align-items: start;
}
.baseSuite {
  font: var(--font-m);
  color: var(--seccondary-bg-color);
  margin-right: 15px;
  align-items: start;
}
.navigationLogout {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logoutIcon {
  color: var(--seccondary-bg-color);
  font-size: 30px;
  margin-left: 15px;
}
