.changePassword {
  width: 400px;
}
.input {
  width: 100%;
}
.inputFields {
  margin-top: 20px;
}
.changePasswordButton {
  margin-top: 20px;
}
.errorText {
  margin-top: 10px;
}
.buttonSize {
  font-size: 15px;
}
