.Sidebar {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--open-sidebar-width);
  background: var(--seccondary-bg-color);
  transition: width 0.3s;
  z-index: 1000;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.lang {
  margin-left: 20px;
}

.collapseBtn {
  position: absolute;
  right: -20px;
  bottom: 50%;
}

.collapsed {
  transition: all 0.3s;
  width: var(--collapsed-sidebar-width);
  background: var(--border-color-dark);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }
}
.button {
  width: 100%;
  position: absolute;
  // right: -20px;
  bottom: 0;
  border-radius: 0px;

  &:hover {
    background-color: var(--primary-bg-color);
    color: var(--seccondary-bg-color);
  }
}

// ----
.menuHeight {
  height: var(--navbar-height);
  background-color: var(--primary-bg-color);
  padding-right: 10px;
}
.icons {
  color: var(--seccondary-bg-color);
  font-size: 20px;
  cursor: pointer;
}
.icons:hover {
  opacity: 0.7;
  transition: all 0.2s;
}

// ----
.menu {
  color: var(--seccondary-bg-color);
}
