.Sidebar {
  // height: calc(100vh - var(--navbar-height));
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  width: var(--open-sidebar-width);
  background: #919191;
  // position: relative;
  transition: width 0.3s;
  z-index: 1000;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.lang {
  margin-left: 20px;
}

.collapseBtn {
  position: absolute;
  right: -20px;
  bottom: 50%;
}

.collapsed {
  transition: all 0.3s;
  width: var(--collapsed-sidebar-width);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }
}
