.coreUsersFilter {
  width: 100%;
}
.input {
  padding: 10px 10px;
  width: 100%;
  margin: 0;
}
.required {
  color: var(--red-light);
  font-size: 20px;
  margin-left: 3px;
}

.dataTree {
  width: 1000px !important;
}

// ---------------------------------------------

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--border-color-dark);
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: var(--seccondary-bg-color);
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid var(--primary-bg-color);
  background-color: var(--seccondary-bg-color);
}

.checkbox > input:checked + span::before {
  content: '\2713';
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-align: center;
  color: var(--primary-bg-color);
  position: absolute;
  left: 0.4rem;
  top: 0.1rem;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}
.errorText {
  margin-left: 10px;
  color: var(--red-light);
  align-items: start;
}
.datepicker {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 15px;
}
.inputs {
  padding: 10px;
}
