.checkboxTree {
}
.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

label {
  display: inline-block;
  margin-left: 5px;
}

.toggle-button {
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}
.asdasdasdasdsdasd {
  background-color: green;
}
